body{
    /* background-color: #b8b8b8; */
    background: #2a2a2a;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    
}

/* nav bar */

header{
    background-image: url(../img/cover.jpg);
    background: #2a2a2a;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 1%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(20, 20, 20, 1) 100%);
    padding: 20px;    
}

.container-nav{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.container-nav img{
    width: 10%;
    transition: transform .5s;    
}

.container-nav img:hover{
    transform: scale(1.4) rotate(360deg);
    transition: transform .5s;
}

.navbar{
   position: absolute;
   top: 2.2rem;
   right: 0px;    
}

.navbar ul{
    position: relative;
    vertical-align: auto;
}

.navbar li{
    display: inline-block;
    padding-right: 2rem;
    position: relative;
}

.navbar li a{
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    /* transition: color .5s;
    transition: font-size .5s;  */
    transition: all .5s;
    
}

.navbar li a:hover{
    background: rgba(60, 60, 60, 0.3);
    color: #7d5d2f;    
    font-size: 1.25rem;
    /* transition: color .5s;    
    transition: font-size .5s;  */
    transition: all .5s;
      
}

/* Banner */

.banner{        
    width: 100%;    
    max-height: 50%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;    
    position: relative;
}


.banner img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    height: auto;
    display: block;    
}

/* About */

.main-container{
    background: white;
    background: linear-gradient(67deg, rgba(255, 255, 255, 1) 60%, rgba(100, 100, 100, 0.5) 100% )
}

.info{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

article .info-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

article .info-content{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 1.2rem;
    
}

.info img {
    margin-right: 10px;
    max-width: 20%;  
    border: solid #3d2d2a 3px;
    box-shadow: rgba(0, 0, 0, 1) 1px 1px 10px;
    border-radius: 200px;
}



/* Products */

.products{
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 1%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(20, 20, 20, 1) 100%);
}

.cards {
    padding: 80px 0;
    margin: 0px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.card{    
    width: 300px;
    height: 400px;
    color: rgb(34, 32, 32);  
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    transition: all .7s;    
}

.card:hover{
    transform: scale(1.05);
    transition: all .7s;
    box-shadow: rgba(255, 255, 255, 0.4) 1px 1px 40px;
}

.card img{
    width: 100px;
    height: 200px;    
}

.info-card{
    margin: 0px;
    padding: 0px;
}

.info-card h3, p{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.info-card h3{
    background: #7d5d2f;
    font-size: 1.3rem;
    color: #fff;
    padding: 30px 0;
}

.info-card p{
    padding: 40px 0;
    font-size: 2rem;
}



/* Footer */

.footer-container{
    border-top: red;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 1%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(20, 20, 20, 1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-container div img{
    width: 100px;
    transition: transform .5s;
}

.footer-container div img:hover{
    transform: rotate(360deg) scale(1.2);
    transition: transform .5s;
}

.footer-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-icons a{
    padding: 10px;
    color: #fff;
    transition: color 0.5s;
    transition: transform 0.5s;
    
}

.footer-icons a:hover{
    transition: color 0.5s;
    transition: transform 0.5s;
    color: #7d5d2f;
    transform: scale(1.8);
}

.footer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0px;
    margin: 0;
}

.footer-title h4{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

.personal-icons a{
    padding-left: 10px;
    transform: scale(1.2);
    color: #fff;
}

.personal-icons a:hover{
    padding-left: 10px;
    transform: scale(1.2);
    color: #7d5d2f;
}




