body{
    background-color: #b8b8b8;
}

header{
    background-image: url(../img/cover.jpg);
    background: #2a2a2a;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 1%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(20, 20, 20, 1) 100%);
    padding: 20px;    
}

.container-nav{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.container-nav img{
    width: 10%;
    transition: transform .5s;    
}

.container-nav img:hover{
    transform: scale(1.4) rotate(360deg);
    transition: transform .5s;
}

.navbar{
   position: absolute;
   top: 2.2rem;
   right: 0px;    
}

.navbar ul{
    position: relative;
    vertical-align: auto;
}

.navbar li{
    display: inline-block;
    padding-right: 2rem;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    transition: color .5s;
    transition: font-size .5s; 
    
}

.navbar li a:hover{
    color: #7d5d2f;    
    font-size: 1.25rem;
    transition: color .5s;    
    transition: font-size .5s; 
      
}

.banner{        
    width: 100%;    
    max-height: 50%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;    
    position: relative;
}


.banner img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    height: auto;
    display: block;    
}


.main-container{
    background-color: white;
}
